:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.chart-container {
  width: 75%;
  height: 100vh; /* set the chart container to take up the full height of the viewport */
  float: left; /* float the chart container to the left */
}

.input-container {
  width: 25%;
  height: 100vh; /* set the input container to take up the full height of the viewport */
  float: right; /* float the input container to the right */
}

